.h-container {
    display: -webkit-flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding-bottom: 0.625rem; /* 10px */
    /* background-color:grey; */
    border-bottom: 0.063rem solid #D9D9D9;
}

.h-container .logo {
    border-right: none;
    margin-right: 8.125rem; /* 130px */
    margin-left: 17.5rem; /* 280px */
    /* background-color: bisque; */
}

.h-container .item.middle {
    width: 6.25rem; /* 100px */
    margin-top: 2.5rem; /* 40px */
    margin-right: 6.25rem; /* 100px */
    text-align: center;
    border-right: none;
    font-size: 1.5rem;
    font-weight: bold;
    /* background-color: aqua; */
}

.h-container .item.right {
    width: 6.25rem; /* 100px */
    margin-top: 1.875rem; /* 30px */
    margin-right: 1.875rem; /* 30px */
    text-align: center;
    border-right: none;
    font-size: 1.5rem;
    font-weight: bold;
    /* background-color: rgb(0, 255, 128); */
}

.h-container .item.rightend {
    width: 6.
}